
.platinum-card{
    background: rgb(140,173,190);
    background: linear-gradient(61deg, rgba(140,173,190,1) 0%, rgba(208,246,255,1) 100%);
    border: 2px solid #00d8ff;
    text-shadow: 1px 1px 2px black;
}
.gold-card{
    background: rgb(148,102,33);
    background: linear-gradient(61deg, rgba(148,102,33,1) 0%, rgba(255,216,0,1) 100%);
    border: 2px solid #ffd800;
    text-shadow: 1px 1px 2px black;
}
.silver-card{
    background: rgb(129,129,129);
    background: linear-gradient(61deg, rgba(129,129,129,1) 0%, rgba(233,233,233,1) 100%);
    border: 2px solid #ffffff;
    text-shadow: 1px 1px 2px black;
}
.bronze-card{
    background: rgb(125,71,12);
    background: linear-gradient(61deg, rgba(125,71,12,1) 0%, rgba(184,140,20,1) 100%);
    border: 2px solid #c59b08;
    text-shadow: 1px 1px 2px black;
}
#logoPicture{
    background-color: white;
}