<div class="mahir h-fit pb-4 w-full md:justify-center md:items-center flex flex-col bg-white">
    <div class="p-4 md:w-2/3 pb-0">
        <img class="photoBest md:w-full border-2 border-white p-2 w-fit"src="../../assets/aboutBestPicture.jpg" alt="picture">
    </div>
    <div class="text-center my-10 mobile:my-3 w-full flex flex-col items-center p-4">
        <div class="text-white  text-center  md:w-2/3  pb-5 md:text-6xl text-3xl">BEST MOSTAR</div>
        <div class="text-justify mobile:text-left text-sm md:text-xl md:w-2/5 md:p-0 text-white">
            BEST (Board of European Students of Technology) je volonterska, neprofitna, apolitička studentska organizacija osnovana s ciljem pružanja mogućnosti za komunikaciju, suradnju i razvoj studenata inženjerstva širom Evrope.<br> 
            Djelujemo u 34 zemlje Evrope, sa 85 lokalne BEST grupe i 3300+ članova. <br>
            Težimo pružanju komplementarnog znanja i prilika studentima da steknu dodatne praktične vještine. <br>BEST-ove ciljne skupine su: studenti, univerziteti i kompanije, te kroz svoje projekte: <br>
            &nbsp;&nbsp;&nbsp;&nbsp;• međunarodni akademski seminari, <br>
            &nbsp;&nbsp;&nbsp;&nbsp;• soft-skills treninzi, <br>
            &nbsp;&nbsp;&nbsp;&nbsp;• sajmovi zapošljavanja, <br>
            &nbsp;&nbsp;&nbsp;&nbsp;• internacionalni kursevi, <br>
            &nbsp;&nbsp;&nbsp;&nbsp;• kulturne razmjene <br>
            …nastojimo ostvariti uspješnu saradnju.
        </div>
    </div>
    <div class="flex mobile:flex-row md:justify-items-end justify-center gap-3 py-3">
       <div class="photoBest border-white border-2 text-white  hover:border-jobfair-blue w-fit p-1"> <!--hover works (entirely :D)-->
        <a href="https://www.instagram.com/best.mostar/">
            <fa-icon class="text-5xl mobile:text-3xl m-auto p-2 cursor-pointer " [icon]="faInstagram"></fa-icon> 
           </a> 
        </div>
    
        <div class="photoBest border-white border-2  text-white hover:border-jobfair-blue w-fit p-1">
            <a href="https://www.linkedin.com/company/best-mostar/">
                <fa-icon class="text-5xl mobile:text-3xl m-auto p-2 cursor-pointer " [icon]="faLinkedin"></fa-icon> 
            </a> 
        </div>
        <div class="photoBest border-white border-2 text-white hover:border-jobfair-blue w-fit p-1">
            <a href="https://www.facebook.com/BESTMostar/">
               
                <fa-icon class=" text-5xl mobile:text-3xl m-auto p-2 cursor-pointer " [icon]="faFacebook"></fa-icon> 

            </a> 
        </div>
    </div>
</div>
