<div class="mahir h-fit md:h-screen md:flex-row pb-4 w-full md:justify-center md:items-center flex flex-col bg-white">
    <div class="p-4 md:w-2/3 pb-0">
        <img class="md:w-full border-2 border-white p-2 w-fit"src="../../assets/aboutBestPicture.jpg" alt="picture">
    </div>
    <div class="text-center md:w-fit">
        <div class="text-white  md:text-left  md:w-2/3  md:text-6xl md:p-0 p-2 text-3xl">BEST MOSTAR</div>
        <div class="text-left text-sm md:text-xl md:w-2/3 md:p-0 p-2 text-white">
            BEST (Board of European Students of Technology) je volonterska, neprofitna, apolitička studentska organizacija osnovana s ciljem pružanja mogućnosti za komunikaciju, suradnju i razvoj studenata inženjerstva širom Evrope.<br> 
            Djelujemo u 34 zemlje Evrope, sa 85 lokalne BEST grupe i 3300+ članova. <br>
            Težimo pružanju komplementarnog znanja i prilika studentima da steknu dodatne praktične vještine. <br>BEST-ove ciljne skupine su: studenti, univerziteti i kompanije, te kroz svoje projekte: <br>
            &nbsp;&nbsp;&nbsp;&nbsp;• međunarodni akademski seminari, <br>
            &nbsp;&nbsp;&nbsp;&nbsp;• soft-skills treninzi, <br>
            &nbsp;&nbsp;&nbsp;&nbsp;• sajmovi zapošljavanja, <br>
            &nbsp;&nbsp;&nbsp;&nbsp;• internacionalni kursevi, <br>
            &nbsp;&nbsp;&nbsp;&nbsp;• kulturne razmjene <br>
            …nastojimo ostvariti uspješnu saradnju.
        </div>
    </div>
    <div class="flex md:flex-col md:pr-4 sm:flex-col md:justify-items-end justify-center gap-3 py-3">
       <div class="border-white border-2  hover:border-jobfair-blue w-fit p-3"> <!--hover works (entirely :D)-->
           <!-- <fa-icon class="text-3xl m-auto p-2 cursor-pointer " [icon]="faInstagram"></fa-icon> -->
           <a href="https://www.instagram.com/best.mostar/">
               <i class="fa-brands fa-instagram fa-2xl group-hover:" style="color: #ffffff;"></i>
           </a> 
        </div>
    
        <div class="border-white border-2  hover:border-jobfair-blue w-fit p-3">
            <a href="https://www.linkedin.com/company/best-mostar/">
                <i class="fa-brands fa-linkedin fa-2xl" style="color: #ffffff;"></i>
            </a> 
        </div>
        <div class="border-white border-2   hover:border-jobfair-blue w-fit p-3">
            <a href="https://www.facebook.com/BESTMostar/">
                <i class="fa-brands fa-facebook fa-2xl" style="color: #ffffff;"></i>
            </a> 
        </div>
    </div>
</div>
