<div class="ml-auto mr-auto rounded-xl h-fit w-2/3 mobile:w-full text-white">
    <div class="flex mobile:flex-col-reverse  md:flex-row justify-evenly p-8 mobile:p-4 mobile:justify-center mobile:items-center">
        <div class="w-1/3 mobile:w-2/5">
          <img class="drop-shadow-lg" src="../assets/ssImg.svg">
        </div>
        <div class="w-1/2 mobile:w-full flex flex-col justify-center items-left">
            <div class="text-4xl font-inter mobile:text-2xl mobile:pb-1">
                SOFT SKILLS ACADEMY
            </div>
            <div class="pt-2 mobile:pt-0 text-justify mobile:text-sm">
                Besplatna interaktivna radionica koja mladim ljudima pruža priliku za razvoj ličnih i profesionalnih vještina neophodnih za zapošljavanje i uspješnu karijeru.
                Seminar je dostupan svim zainteresovanim studentima na području Bosne i Hercegovine. Uz priložen CV samo odabrani studenti će imati priliku prisustvovati na treninzima, steći nove i poboljšati već postojeće vještine.
            </div>
        </div>
    </div>
</div>
