<div class="ml-auto mr-auto rounded-xl  h-fit w-2/3 text-white">
    <div class="flex flex-row justify-evenly p-8">
        <div class="w-1/3">
          <img class="" src="../assets/ssImg.svg">
        </div>
        <div class="w-1/2 flex flex-col justify-center items-left">
            <div class="text-4xl underline">
                Soft Skills Academy
            </div>
            <div class="pt-2">
                Besplatna interaktivna radionica koja mladim ljudima pruža priliku za razvoj ličnih i profesionalnih vještina neophodnih za zapošljavanje i uspješnu karijeru.
                Seminar je dostupan svim zainteresovanim studentima na području Bosne i Hercegovine. Uz priložen CV samo odabrani studenti će imati priliku prisustvovati na treninzima, steći nove i poboljšati već postojeće vještine.
            </div>
        </div>
    </div>
</div>
