<div class="ml-auto mr-auto rounded-xl h-fit w-2/3 mobile:w-full text-white">
    <div class="flex mobile:flex-col-reverse  md:flex-row justify-evenly p-8 mobile:p-4 mobile:justify-center mobile:items-center">
        <div class="w-1/2 mobile:w-full flex flex-col justify-center items-left">
            <div class="text-4xl font-inter mobile:text-2xl mobile:pb-1">
                JOBFAIR MOSTAR
            </div>
            <div class="pt-2 mobile:pt-0 text-lg text-justify mobile:text-sm">
                Sajam zapošljavanja je jedan od najznačajnijih projekata organizovan od strane organizacije BEST Mostar. <br>
                Pruža priliku studentima da ostvare direktan kontakt sa predstavnicima kompanija, te da se informišu o tome šta poslodavci očekuju od njih i koje su vještine poželjne za njihovu struku.<br>
                Posjetioci Sajma će imati priliku upoznati se sa mogućnostima i prilikama koje naša privreda nudi, što će im pomoći u izboru budućeg profesionalnog usmjerenja.
            </div>
        </div>

        <div class="w-1/3 mobile:w-2/5">
          <img class="drop-shadow-lg" src="../assets/jobfair-logo-white.png">
        </div>
    </div>
</div>