<div class=" w-96 h-screen mobile:h-auto rounded mobile:w-fit flex bg-jobfair-light-blue flex-col justify-center items-center abcd text-white">
    <div class="text-2xl mobile:text-xl mobile:text-center py-3   mobile:py-0 underline font-inter">Academy #1</div>
    <div class="bg-jobfair-light-blue w-almost p-8 m-4 mobile:p-5 mobile:m-0 flex flex-col justify-center items-center abc" >
        <div class="text-xl mobile:text-sm mobile:text-center">
            As u rukavu: CV                   
        </div>
        <div class="mobile:text-xs mobile:text-center">
            10:00 - 10:50
        </div>
    </div>
    <div class="bg-jobfair-light p-8 w-almost m-4 mobile:p-5 mobile:m-0 flex flex-col justify-center items-center abc" >
        <div class="text-xl mobile:text-sm mobile:text-center">
            Sve što trebaš znati o traženju posla u IT-u       
        </div>
        <div class="mobile:text-xs mobile:text-center">
            11:00 - 11:50
        </div>
    </div>
    <div class="bg-jobfair-light w-almost p-8 m-4 mobile:p-5 mobile:m-0 flex flex-col justify-center items-center abc" >
        <div class="text-xl mobile:text-sm mobile:text-center">
            Timski rad i upravljanje timovima                 
        </div>
        <div class="mobile:text-xs mobile:text-center">
            13:00 - 13:50
        </div>
    </div>
    <div class="bg-jobfair-light w-almost p-8 m-4 mobile:p-5 mobile:m-0 flex flex-col justify-center items-center abc" >
        <div class="text-xl mobile:text-sm mobile:text-center">
            Time management                  
        </div>
        <div class="mobile:text-xs mobile:text-center">
            14:00 - 14:50
        </div>
    </div>
</div>
