
.abcd{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.abc {
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: white;
    transform: translate(0, 0);
    transition: all .3s ease-out, background-color 200ms ease-in;
}
.abc:hover {
    background-color: #2955bd; 
    transform: translate(5px, 5px);
    box-shadow: none;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

