<div class=" w-full rounded mobile:w-fit flex bg-jobfair-blue flex-col justify-center items-center abcd text-white">
    <div class="text-2xl mobile:text-xl mobile:text-center py-3   mobile:py-0 underline font-inter">Academy #2</div>
    <div class="bg-jobfair-blue w-almost p-8 m-4 mobile:p-5 mobile:m-0 flex flex-col justify-center items-center abc" >
        <div class="text-xl mobile:text-sm mobile:text-center">
            Tema 5                   
        </div>
        <div class="mobile:text-xs mobile:text-center">
            10:00 - 10:50
        </div>
    </div>
    <div class="bg-jobfair p-8 w-almost m-4 mobile:p-5 mobile:m-0 flex flex-col justify-center items-center abc" >
        <div class="text-xl mobile:text-sm mobile:text-center">
            Tema 6                   
        </div>
        <div class="mobile:text-xs mobile:text-center">
            11:00 - 11:50
        </div>
    </div>
    <div class="bg-jobfair w-almost p-8 m-4 mobile:p-5 mobile:m-0 flex flex-col justify-center items-center abc" >
        <div class="text-xl mobile:text-sm mobile:text-center">
            Tema 7                  
        </div>
        <div class="mobile:text-xs mobile:text-center">
            13:00 - 13:50
        </div>
    </div>
    <div class="bg-jobfair w-almost p-8 m-4 mobile:p-5 mobile:m-0 flex flex-col justify-center items-center abc" >
        <div class="text-xl mobile:text-sm mobile:text-center">
            Tema 8                   
        </div>
        <div class="mobile:text-xs mobile:text-center">
            14:00 - 14:50
        </div>
    </div>
</div>