<div class=" w-full flex bg-jobfair-blue flex-col justify-center items-center abcd text-white">
    <div class="text-2xl pb-3 pt-3 underline font-mono">Skills #2</div>
    <div class="bg-jobfair-blue p-8 m-4 flex flex-col justify-center items-center abc" >
        <div class="text-xl">
            Lorem Ipsum                   
        </div>
        <div>
            09:00 - 10:00
        </div>
    </div>
    <div class="bg-jobfair-blue p-8 m-4 flex flex-col justify-center items-center abc">
        <div class="text-xl">
            Lorem Ipsum                   
        </div>
        <div>
            10:30 - 15:00
        </div>
        
    </div>
    <div class="bg-jobfair-blue p-8 m-4 flex flex-col justify-center items-center abc">
        <div class="text-xl">
            Lorem Ipsum                   
        </div>
        <div>
            15:15 - 16:00
        </div>
    </div>
    <div class="bg-jobfair-blue p-8 m-4 flex flex-col justify-center items-center abc">
        <div class="text-xl">
            Lorem Ipsum                   
        </div>
        <div>
            15:15 - 16:00
        </div>
    </div>
</div>