<div class=" bg-white h-screen">
  <header class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img class="h-12 w-auto" src="../assets/best-mostar-colored.png" alt="">
        </a>
      </div>
      <div class="flex lg:hidden">
        <button (click)="sidebarIsOpen = !sidebarIsOpen" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Open main menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex font-semibold text-white my-text-shadow lg:gap-x-12">
        <a href="#" class="text-xl leading-6 hover:text-white transition-all duration-100">Home</a>
        <a href="#" class="text-xl leading-6 hover:text-white transition-all duration-100">About</a>
        <a href="#" class="text-xl leading-6 hover:text-white transition-all duration-100">Agenda</a>
        <a href="#" class="text-xl leading-6 hover:text-white transition-all duration-100">Partners</a>
        <a href="#" class="text-xl
         leading-6 hover:text-white transition-all duration-100">BEST Mostar</a>
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <a href="https://www.instagram.com/jobfair.mostar/?hl=en" class="text-sm font-semibold leading-6 text-white"><img class="h-14 w-auto" src="../assets/instagram-ar21.svg"></a>
      </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div class="lg:hidden {{sidebarIsOpen ? '' : 'hidden'}}" (click)="sidebarIsOpen = !sidebarIsOpen" role="dialog" aria-modal="true">
      <!-- Background backdrop, show/hide based on slide-over state. -->
      <div class="fixed inset-0 z-50"></div>
      <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
        <div class="flex items-center justify-between">
          <a href="#" class="-m-1.5 p-1.5">
            <img class="h-12 w-auto" src="../assets/best-mostar-colored.png" alt="">
          </a>
          <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Close menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="mt-6 flow-root ">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class="space-y-2 py-6 ">
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 hover:bg-gray-50">Home</a>
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 hover:bg-gray-50">About</a>
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 hover:bg-gray-50">Agenda</a>
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 hover:bg-gray-50">Partners</a>
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 hover:bg-gray-50">BEST Mostar</a>
            </div>
            <div class="py-6">
              <a href="https://www.instagram.com/jobfair.mostar/?hl=en" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"><img class="h-8 w-auto" src="https://www.vectorlogo.zone/logos/instagram/instagram-wordmark.svg"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="relative isolate mobile:h-screen mobile:p-10 sm:px-6 sm:pt-3 lg:px-8">
    <div class="absolute h-screen inset-x-0 top-0 -z-10 transform-gpu overflow-hidden blur-sm " aria-hidden="true">
      <video autoplay muted loop playsinline id="myVideo" class="blur-sm min-h-full flex right-0 mobile:-left-3/4 min-w-max sm:min-w-full fixed sm:right-0 sm:bottom-0">
        <source src="../assets/video.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
    </div>
    <div class="mx-auto sm:max-w-2xl py-52 mobile:py-56 lg:py-48">
      <div class="hidden sm:mb-8 sm:flex sm:justify-center">
        <div class="relative rounded-full px-3 py-1 text-sm leading-6 opacity-85  text-gray-900 ring-1 ring-jobfair-blue hover:ring-gray-900/20">
          BEST Mostar presents 
        </div>
      </div>
      <div class="text-center">
        <h1 class="mobile:text-5xl font-bold tracking-tight text-white my-text-shadow text-6xl">Jobfair & Soft Skills Academy</h1>
        <p class="mt-6 text-lg mobile:text-center leading-8 text-white my-text-shadow">Explore careers, connect with employers, and refine essential soft skills at the Mostar Jobfair & Soft Skills Academy for a comprehensive professional development experience.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="#" class="rounded-full bg-jobfair-blue opacity-85 px-3.5 py-2.5 text-xl font-semibold text-white shadow-sm  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            <app-countdown></app-countdown>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="aboutSection mobile:h-fit mobile:py-0 py-3">
  <app-jobfair-component></app-jobfair-component>
  <app-ss-component></app-ss-component>
</div>
<div class="p-20 mobile:p-0 mobile:py-2 flex-wrap mobile:flex-nowrap flex flex-row mobile:flex-col justify-center gap-5 mobile:gap-0 mobile:h-fit items-center w-full agendaSection">
  <app-day-one></app-day-one>
  <app-day-two></app-day-two>
  <app-day-three></app-day-three>
</div>

<div class="w-full flex flex-col justify-center items-center pb-12 backky ">
  <div class="text-4xl mobile:text-xl mobile:p-4 tracking-wide font-bold p-10 text-blue-50 ">PARTNERS</div>
  <div class="mobile:w-5/6 w-2/4">
    <app-pinned-carousel></app-pinned-carousel>
  </div>
  <app-sponsor-card-section></app-sponsor-card-section>
</div>
<app-presenters-component></app-presenters-component>


<app-about-best></app-about-best>

<footer class="bg-jobfair-blue w-full h-fit text-center sm:text-white py-2">
  <div>
    Board of European Students of Technology
  </div>
  <div class="font-bold"> 
    Made by ITD
  </div>
</footer>


