<div class=" w-full rounded mobile:w-fit flex bg-jobfair-blue flex-col justify-center items-center abcd text-white">
    <div class="text-2xl mobile:text-xl mobile:text-center py-3   mobile:py-0 underline font-mono">Jobfair Day</div>
    <div class="bg-jobfair-blue p-8 m-4 mobile:p-1 mobile:m-0 flex flex-col justify-center items-center abc" >
        <div class="text-xl mobile:text-sm mobile:text-center">
            Lorem Ipsum                   
        </div>
        <div class="mobile:text-xs mobile:text-center">
            09:00 - 10:00
        </div>
    </div>
    <div class="bg-jobfair-blue p-8 m-4 mobile:p-1 mobile:m-0 flex flex-col justify-center items-center abc" >
        <div class="text-xl mobile:text-sm mobile:text-center">
            Lorem Ipsum                   
        </div>
        <div class="mobile:text-xs mobile:text-center">
            09:00 - 10:00
        </div>
    </div>
    <div class="bg-jobfair-blue p-8 m-4 mobile:p-1 mobile:m-0 flex flex-col justify-center items-center abc" >
        <div class="text-xl mobile:text-sm mobile:text-center">
            Lorem Ipsum                   
        </div>
        <div class="mobile:text-xs mobile:text-center">
            09:00 - 10:00
        </div>
    </div>
    <div class="bg-jobfair-blue p-8 m-4 mobile:p-1 mobile:m-0 flex flex-col justify-center items-center abc" >
        <div class="text-xl mobile:text-sm mobile:text-center">
            Lorem Ipsum                   
        </div>
        <div class="mobile:text-xs mobile:text-center">
            09:00 - 10:00
        </div>
    </div>
</div>