<div class=" w-full rounded mobile:w-fit flex bg-jobfair-blue flex-col justify-center items-center abcd text-white">
    <div class="text-2xl mobile:text-xl mobile:text-center py-3   mobile:py-0 underline font-inter">Jobfair Day</div>
    <div class="bg-jobfair-blue w-almost p-8 m-4 mobile:p-5 mobile:m-0 flex flex-col justify-center items-center abc" >
        <div class="text-xl min-w-full mobile:text-sm mobile:text-center">
            Otvaranje                   
        </div>
        <div class="mobile:text-xs mobile:text-center">
            09:30 - 10:00
        </div>
    </div>
    <div class="bg-jobfair-blue w-almost p-8 m-4 mobile:p-5 mobile:m-0 flex flex-col justify-center items-center abc" >
        <div class="text-xl mobile:text-sm mobile:text-center">
            Radionica                  
        </div>
        <div class="mobile:text-xs mobile:text-center">
            11:00 - 12:00
        </div>
    </div>
    <div class="bg-jobfair-blue w-almost p-8 m-4 mobile:p-5 mobile:m-0 flex flex-col justify-center items-center abc" >
        <div class="text-xl mobile:text-sm mobile:text-center">
            Radionica                  
        </div>
        <div class="mobile:text-xs mobile:text-center">
            13:00 - 14:00
        </div>
    </div>
    <div class="bg-jobfair-blue w-almost p-8 m-4 mobile:p-5 mobile:m-0 flex flex-col justify-center items-center abc" >
        <div class="text-xl mobile:text-sm mobile:text-center">
            Jobfair                   
        </div>
        <div class="mobile:text-xs mobile:text-center">
            14:15 - 16:00
        </div>
    </div>
</div>