<div class="flex flex-row mobile:flex-row  flex-wrap justify-center m-5 mobile:m-0 items-center w-auto pozadina p-3 rounded-xl">
  <img src="../../assets/COS-Team.jpg" class="w-1/2 rounded-lg border mobile:w-full obim" alt="...">
  <div class="flex flex-col px-6 mobile:px-0 w-1/2 mobile:w-full">
    <div class="font-inter text-5xl mobile:text-2xl mobile:pt-2">
      Competent Office Solutions d.o.o.
    </div>
    <div class="font-inter text-lg mobile:text-sm mobile:py-0 py-4">
      Suradnja s vodećim poslodavcima u industriji ključni je pokretač za tim COS. <br>
      Iako je outsourcing naš glavni fokus, naši HR menadžeri ističu se empatijom i kompetentnošću, prateći kandidate kroz cjelokupan proces pronalaska idealne poslovne prilike. <br>
      Vjerujemo u otvorenu i iskrenu komunikaciju s klijentima i kandidatima, kako bismo razumjeli njihove potrebe i pružili relevantna rješenja. <br>
      Želimo da naši klijenti i kandidati znaju što mogu očekivati i da se osjećaju uključeni u svaki korak procesa zapošljavanja. <br>
      Uvjereni smo da kombinacija ovih vrijednosti čini ključnu razliku u našem radu.
    </div>
    <a class="text-xl font-inter mobile:text-lg" href="https://cos-bh.eu/">
      <fa-icon class="mobile:text-xl  m-auto p-2 cursor-pointer " [icon]="faLink"></fa-icon> 
      cos-bh.eu

    </a>
  </div>

</div>


<!----->  
  <div class="flex flex-row mobile:flex-row-reverse  flex-wrap mobile:flex-wrap-reverse justify-center m-5 mobile:m-0 items-center w-auto pozadina p-3 rounded-xl">
    <div class="flex flex-col px-6 mobile:px-0 w-1/2 mobile:w-full">
      <div class="font-inter text-5xl mobile:text-2xl mobile:pt-2">
        Nelt d.o.o.
      </div>
      <div class="font-inter text-lg mobile:text-sm mobile:py-0 py-4">
        Nelt d.o.o se bavi distribucijom robe i pružanjem logističkih usluga, te je lider u sektoru distribucije sa brojnim priznanjima i titulom Najpoželjniji poslodavac. <br>
      Naši partneri i klijenti su najveći strani i domaći proizvođači robe široke potrošnje, prehrambenih i duhanskih proizvoda. <br>
      Sarađujemo sa principalima Nutrino BFF, Neoplanta, Mondelez, Chipita, Kraš, Bambi, MladegsPak (Bonito), Jacobs coffee, BiC, Arla Foods, Phillips, Kent, Japan Tobacco, Karelia, Zlatni Dukat. <br>
      Sa sjedištem u Istočnom Sarajevu i distributivnim jedinicama u Bijeljini i Banja Luci, naša kompanija u BiH zapošljava više od 500 ljudi. <br>
      Dio smo Nelt Grupe, organizacionog sistema koji povezuje više od 5000 zaposlenih na 12 tržišta u Evropi i Africi.
    </div>
    <a class="text-xl font-inter mobile:text-lg" href="https://www.nelt.com/">
      <fa-icon class="mobile:text-xl  m-auto p-2 cursor-pointer " [icon]="faLink"></fa-icon> 
      nelt.com
      
    </a>
  </div>
  <div class="w-1/2 mobile:w-full flex justify-center items-center">
    <img src="../../assets/nelt_logo+slogan_horizontal_pozitiv-01.jpg" class="rounded-lg border mobile:w-full obim" alt="...">
  </div>
  
</div>
